* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(istockphoto-1732963074-2048x2048.jpg);
}

img {
    width: 67x;
    height: 67px;
}

.nav {
    position: fixed;
    display: flex;
    color: white;
    font-size: 18px;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: transparent;
    background: rgba(255, 255, 255, .1);
    height: 60px;
    width: 100%;
}

i {
    padding: 3px;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul a li {
    list-style-type: none;
    padding: 20px;
    color: white;
}

.nav ul a {
    text-decoration: none;
}